/__pycache__
/.pytest_cache
/venv
/random_pure_state/cosin_sim.pdf
/random_pure_state/err.pdf
/random_pure_state/fidelity.pdf
/random_pure_state/result.json
.unsorted/dual_unitary_im/controlled_prediction_noiseless.pdf
.unsorted/dual_unitary_im/controlled_prediction.pdf
.unsorted/dual_unitary_im/cosine_sim.pdf
.unsorted/dual_unitary_im/result.json
.unsorted/dual_unitary_im/trace.pdf
.unsorted/dual_unitary_im/uncontrolled_prediction_noiseless.pdf
.unsorted/dual_unitary_im/uncontrolled_prediction.pdf
.unsorted/__pycache__
externel_im/controlled_prediction.pdf
externel_im/cosine_sim.pdf
externel_im/result.json
externel_im/trace.pdf
externel_im/uncontrolled_prediction.pdf
random_im/controlled_prediction.pdf
random_im/cosine_sim.pdf
random_im/result.json
random_im/trace.pdf
random_im/uncontrolled_prediction.pdf
const_specdens_chi_50.hdf5
